

/*



1:!important

2:#test strong{ color:#0EE3ED;}

3:div.demo strong{ color:#D5BD1A;}


4:.demo strong{ color:#A20692;}

5:div strong{ color:#1E34E7;}
5:div >strong{ color:#00F175;}

6:div{ color:red;}

7:浏览器默认样式


*/



















